<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite Container" parallel="tests">
    <!-- Android -->
    <parameter name="envID" value="remote"/>  <!-- local/remote -->
    <parameter name="platformName" value="Android"/>
    <test name="Android">
        <classes>
            <class name="com.qa.lms.mobile.testcases.debug"/>
        </classes>
        <listeners>
            <listener class-name="com.qa.lms.mobile.listeners.TestListener"/>
        </listeners>
    </test>
    <!-- iOS -->
    <parameter name="envID" value="remote"/>  <!-- local/remote -->
    <parameter name="platformName" value="iOS"/>
    <test name="iOS">
        <classes>
            <class name="com.qa.lms.mobile.testcases.debug"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.qa.lms.mobile.listeners.TestListener"/>
    </listeners>
</suite>
