<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
  <parameter name="envID" value="local"/>
  <!--
    DeviceID = {"1":"Android", "2":"IOS"}
    EnvID    = {"1":"local", "2":"remote"}
  -->
  <test name="Android" >
    <parameter name="deviceID" value="1"/>
    <parameter name="emulator" value="false"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="udid" value ="J7AAB76018109TA"/>           <!-- emulator-5554(local_device(ae)), Zen: J7AAB76018109TA -->
    <parameter name="deviceName" value="Asus"/>
    <parameter name="systemPort" value="10000"/>
    <parameter name="chromeDriverPort" value="11000"/>
    <classes>
      <class name="com.qa.tests.Demo"/>
    </classes>
    <listeners>
      <listener class-name="com.qa.listeners.TestListener"/>
    </listeners>
  </test>
<!--
<test name="iOS" >
<parameter name="deviceID" value="2"/>
<parameter name="emulator" value="false"/>
<parameter name="platformName" value="iOS"/>
<parameter name="udid" value ="662164DE-2326-4653-A6D3-000451737A36"/>
<parameter name="deviceName" value="iPhone12ProMax"/>
<parameter name="wdaLocalPort" value="10001"/>
<parameter name="webkitDebugProxyPort" value="11001"/>
<classes>
  <class name="com.qa.tests.LoginTests"/>
</classes>
<listeners>
  <listener class-name="com.qa.listeners.TestListener"/>
</listeners>
</test>-->
</suite>